* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #190361 0%, #BB00FF 100%);
    height: 100vh;
    display: flex;
}

main {
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .5);
    text-align: center;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    padding: 3rem;
    transform: translateY(-5rem);
    display: flex;
    justify-content: center;
}

.screen1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20rem;
}

.screen2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.screen1 p, button {
    font-family: 'DM Sans', sans-serif;
}

.screen2 p {
    font-family: 'Dancing Script', cursive;
}

.hide {
    display: none;
}

.screen1 img {
    cursor: pointer;
}

.screen1 img:hover {
    animation: shake 200ms infinite;
}

h1, p {
    margin-bottom: 1.5rem;
}

button {
    background-color: #FF9500;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: .4rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #d18314;
}

.screen2 p {
    background-color: 	#0df;
    padding: 1rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    max-width: 25rem;
    font-size: 20px;
    animation: showMsg 3s;
}

@keyframes shake {
    0% {
        transform: translate(-5px,2px)
    }
    25% {
        transform: translate(-1px,1px);
    }
    50% {
        transform: translate(5px,-2px)
    }
    75% {
        transform: translate(2px,3px);
    }
    100% {
        transform: translate(0, 0)
    }
}

@keyframes showMsg {
    0% {
        transform: translateY(10rem) scale(0);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}